.box-layout {
    background: url('/images/bg.jpg');
    background-size: cover; 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box {
    background: fade-out($color: white, $amount: .15);
    border-radius: 3px;
    text-align: center;
    width: 20rem;
    padding: $l-size $s-size;
}

.box-layout__title{
    line-height: 1;
    margin: 0 0 $m-size 0;
}
