//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$desktop-breakpoint:45rem;

//font-size
$medium-font:1.8rem;
$small-font:1.4rem;
//color
$blue:#1c88bf;
$dark-grey:#333;
$dark-blue:#364051;
$grey:#666666;
$off-white:#f7f7f7f7;